@use "../../styles/foundation/basics" as basics;
@use "../../styles/foundation/templates" as template;

.footer {
  @include template.flex(
    $direction: column,
    $justify: space-between,
    $align: flex-start
  );
  padding: 10px;

  .top-footer {
    @include template.flex(
      $direction: row,
      $justify: space-between,
      $align: flex-start
    );
    margin: auto;
    width: 100%;
    flex: 2;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .contact-form {
      .contact-form-header {
        h3 {
          @include template.highlightedText(
            $font-size: 1.5rem,
            $weight: 800,
            $color: basics.$text-color,
            $small-font: 1.5rem,
            $height: 11px,
            $bg-color: basics.$secondary-color
          );
          max-width: max-content;
          margin-bottom: 10px;
        }

        p {
          margin-bottom: 1rem;
          color: basics.$light-color;
        }
      }
    }

    .socials {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .social-header {
        h3 {
          @include template.highlightedText(
            $font-size: 1.5rem,
            $weight: 800,
            $color: basics.$text-color,
            $small-font: 1.5rem,
            $height: 11px,
            $bg-color: basics.$secondary-color
          );
          max-width: max-content;
          margin-bottom: 10px;
        }

        p {
          font-size: 1rem;
          font-weight: 400;
          margin-bottom: 1rem;
          color: basics.$light-color;
          text-decoration: none;
        }
      }
      p {
        display: flex;
        align-items: center;

        .icon {
          font-size: 1.5rem;
          color: basics.$text-color;
          transition: all 0.3s ease-in-out;
          vertical-align: middle;
          margin-right: 5px;
        }
        a {
          color: basics.$text-color;
          transition: all 0.3s ease-in-out;
          text-decoration: underline;
        }
      }
    }
  }

  .bottom-footer {
    .footer-content {
      h2 {
        font-size: 2rem;
        font-weight: 800;
        color: basics.$text-color;
      }
      p {
        font-size: 1rem;
        font-weight: 400;
        color: basics.$light-color;
      }
    }
  }
}
