@use "../../styles/foundation/basics" as basics;
@use "../../styles/foundation/templates" as template;

.header {
  @include template.flex(
    $justify: space-between,
    $align: center,
    $gap: 1rem,
    $direction: row,
    $wrap: nowrap
  );
  position: sticky;
  top: 0.5%;
  z-index: 99;
  padding: 15px 10px;
  background-color: basics.$bg-color;
  max-width: 1100px;
  margin: 1rem auto auto auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  @media screen and (max-width: 480px) {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .logo {
    h1 {
      font-size: 2.2rem;
      font-weight: 800;
      color: basics.$text-color;
    }
  }

  .navbar {
    @media screen and (max-width: 768px) {
      position: absolute;
      top: 110%;
      left: 0;
      width: 100%;
      min-height: 15vh;
      background: basics.$bg-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      transition: all 0.5s ease-in-out;
      transform: translateY(-100%);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      border-radius: 10px;
      display: none;
      &.active {
        display: flex;
        animation: slideIn 0.5s ease-in-out forwards;
      }
    }
  }

  .right {
    @include template.flex(
      $justify: space-between,
      $align: center,
      $gap: 1rem,
      $direction: row,
      $wrap: nowrap
    );
    .toggle {
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
      }
      .icon {
        font-size: 1.5rem;
        color: basics.$text-color;
        cursor: pointer;
        vertical-align: middle;
      }
    }
    .control {
      button {
        @include template.button($bg-color: basics.$secondary-color);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        a {
          color: basics.$text-color;
        }
      }
    }
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
