@use "../../styles/foundation/basics" as basics;
@use "../../styles/foundation/templates" as template;

.nav_links {
  @include template.flex(
    $justify: space-between,
    $align: center,
    $gap: 1rem,
    $direction: row,
    $wrap: nowrap
  );

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  li {
    a {
      font-size: 1.1rem;
      font-weight: 500;
      color: basics.$text-color;
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0px;
        z-index: -1;
        background-color: basics.$secondary-color;
        transition: all 0.3s ease-in-out;
      }

      &:hover::after {
        height: 10px;
      }

      &.active {
        &::after {
          height: 10px;
        }
      }
    }
  }
}
