// @mixin animate($animation, $duration, $method, $times) {
//   animation: $animation $duration $method $times;
// }

// @mixin keyframes($name) {
//   @keyframes #{$name} {
//     @content;
//   }
// }

.about_me_container {
  .about_me_header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    box-shadow: var(--Soft-Red) 0px 3px 8px;
    max-width: 400px;
    margin: auto;
    padding: 12px;
    margin-bottom: 2rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      box-shadow: 3px 3px 5px var(--Soft-Red);
    }
    h1 {
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: 1px;
    }
    img {
      max-width: 120px;
      height: 100%;
      object-fit: cover;
      vertical-align: middle;
      border-radius: 50%;
    }

    p {
      font-size: 1.1rem;
      font-weight: 400;
      margin-top: 0.5rem;
      letter-spacing: 1px;
      color: var(--Medium-Grey);
      line-height: 24px;
    }
  }
  .about_me_body {
    h2 {
      font-size: 1.3rem;
      font-weight: 600;
      letter-spacing: 1px;
    }
    p {
      font-size: 1.1rem;
      font-weight: 400;
      margin-top: 0.5rem;
      letter-spacing: 1px;
      word-spacing: 1px;
      text-transform: capitalize;
      color: var(--Medium-Grey);
      line-height: 30px;
    }
  }

  .tools {
    display: flex;
    gap: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 2rem;
    }

    .daily,
    .learning {
      h2 {
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: 1px;
        word-spacing: 1px;
        text-transform: capitalize;
        line-height: 30px;
        margin-bottom: 0.5rem;
      }

      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        li {
          list-style: square;
          font-size: 1.1rem;
          font-weight: 400;
          letter-spacing: 1px;
          word-spacing: 1px;
          margin-left: 2rem;
          text-transform: capitalize;
          color: var(--Medium-Grey);
          line-height: 40px;

          &:hover {
            color: var(--Soft-Red);
            font-weight: 500;
          }

          @media (max-width: 768px) {
            margin-left: 1rem;
          }
        }
      }
    }
  }
}

.special {
  @mixin scale($scale) {
    transform: scale($scale);
  }
  color: var(--Soft-Red);
  // font-weight: 8 00;
  @include scale(5);
}
