.blogs_container {
  animation: slideUp 0.7s ease-in-out;

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
    border-bottom: 4px solid var(--Soft-Red);
    width: max-content;

    @media screen and (max-width: 768px) {
      font-size: 1.3rem;
    }
  }
  p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--Medium-Grey);
    line-height: 30px;
    text-align: justify;
    @media screen and (max-width: 768px) {
      font-size: 0.9rem;
    }
  }
  a {
    color: var(--Soft-Blue);
    text-decoration: none;
    transition: all 350ms linear;
    letter-spacing: 1px;
    font-size: 1rem;

    @media screen and (max-width: 768px) {
      font-size: 0.9rem;
    }
    &:hover {
      transform: scale(1.2);
      color: var(--Soft-Red);
    }
  }
}
