.experience_container {
  margin-top: 1rem;
  //   line-height: 40px;

  h2 {
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .experience {
    border-left: 2px solid cadetblue;
    height: 100%;
    max-width: 100%;
    padding-left: 1rem;
    transition: all 350ms linear;
    margin-bottom: 1rem;
    &:hover {
      border-left: 2px solid var(--Soft-Red);
    }
    .experience_description {
      line-height: 30px;
      h3 {
        font-size: 1.15rem;
        font-weight: 600;
        // letter-spacing: 1px;
      }
      p {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 1px;
        color: var(--Medium-Grey);
      }

      li {
        list-style: square;
        font-size: 0.9rem;
        font-weight: 600;
        letter-spacing: 1px;
        margin-left: 1rem;
        color: var(--Medium-Grey);
      }
    }
  }
}
