.freelancing_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--Soft-Blue);
  max-width: -moz-max-content;
  width: max-content;
  margin: 4rem auto 4rem auto;
  padding: 12px 10px;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--Soft-Red);
  @media screen and (max-width: 768px) {
    max-width: 100%;
  }

  p {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 25px;
    text-align: justify;

    a {
      color: white;
      text-decoration: underline;

      .arrow {
        transition: all 0.3s ease-in-out;
      }
      &:hover .arrow {
        transform: scale(1.25);
        color: var(--Soft-Red);
      }
    }
  }
}
