@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --playwrite: "Playwrite CU", cursive;
    --rale: "Raleway",
        sans-serif;
    --primary-color: #f3f1f1;
    --secondary-color: #f4f5ef;
}

body {
    background-color: var(--primary-color);
    background-color: #161616;
    color: #0a0a0a;
    color: #fff;
}

.gradient-hr {
    border: none;
    height: 1px;
    background-color: rgb(148, 148, 148);
    width: 100%;
    margin: 20px auto;
    border-radius: 5px;
}


.my-logo h1 {
    font-family: var(--playwrite);
}


.nav-font {
    font-family: var(--rale);
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: #999999;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 12px;
    z-index: 1;
    padding: 8px 12px;
}

.nav-link:hover {
    background-color: #292828b0;
    color: white;
}

.nav-link.active {
    background-color: #4a4a4a;
    color: white;
}

.menu-item {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.menu-item-visible {
    opacity: 1;
    transform: translateY(0);
}

/* Keyframe Animation */
@keyframes fallDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    60% {
        transform: translateY(20%);
        opacity: 1;
    }

    80% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0);
    }
}

.menu-open {
    display: flex;
    transform: translateY(0);
    opacity: 1;
}

.menu-closed {
    display: none;
    transform: translateY(-100%);
    opacity: 0;
}

@media (min-width: 768px) {
    .menu-item {
        opacity: 1;
        transform: none;
        transition: none;
        animation: none;
    }

    .menu-open,
    .menu-closed {
        transform: none;
        opacity: 1;
        display: flex;
        flex-direction: row;
    }
}

/* Hero Section */
/* @keyframes fallInBounce {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    80% {
        opacity: 1;
        transform: translateY(0px);
    }

    90% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0px);
    }
}

.animate-fallInBounce {
    animation: fallInBounce 0.8s ease-out forwards;
} */

.experience-card-bs {
    box-shadow: 15px 10px 30px rgba(0, 0, 0, .3);
    transition: all .3s linear forwards;
}

.experience-card-bs:hover {
    box-shadow: 10px 5px 15px rgba(0, 0, 0, .3);
}

@keyframes bounce-flash {

    0%,
    100% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-1px);
        opacity: 0.5;
    }
}

.animate-bounce-flash {
    animation: bounce-flash 1s infinite ease-in-out;
}