.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  outline: none;
  .navbar_logo {
    span {
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--dark-grey);
    }
  }

  .nav_links {
    ul {
      display: flex;
      gap: 1rem;

      li {
        a {
          color: var(--Medium-Grey);
          font-size: 1.1rem;
          font-weight: 500;
          transition: all 0.3s ease-in-out;
          letter-spacing: 1px;
          &:hover {
            color: var(--Soft-Red);
          }
        }
        .active {
          color: var(--Soft-Red);
        }
      }
    }
  }
}
