.projects_container {
  .projects_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    h2 {
      font-size: 1.6rem;
      font-weight: 600;
      letter-spacing: 1px;
      border-bottom: 4px solid var(--Soft-Red);
      width: max-content;
      margin-bottom: 0.7rem;
      @media screen and (max-width: 768px) {
        font-size: 1.3rem;
      }
    }
    a {
      text-decoration: none;
      color: #fff;
      @media screen and (max-width: 768px) {
        font-size: 0.9rem;
      }
      .arrow {
        transition: all 0.3s ease-in-out;
        vertical-align: middle;
      }

      &:hover {
        .arrow {
          transform: translateY(-5px);
          color: var(--Soft-Red);
        }
      }
    }
  }

  .projects_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;

    .projects_card {
      .project_image {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 0.5rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      }

      .project_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;

        h3 {
          font-size: 1.5rem;
          font-weight: 600;
          margin-bottom: 0.4rem;

          @media screen and (max-width: 768px) {
            font-size: 1.2rem;
          }
        }
        .completed {
          font-size: 0.7rem;
          font-weight: 500;
          color: #616161;
          margin-left: 0.6rem;
          letter-spacing: 1px;
          background-color: lightgray;
          padding: 1px 3px;
          vertical-align: middle;
          border-radius: 4px;
        }
        .date {
          display: none;
        }
      }

      p {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 0.4rem;
        line-height: 25px;
        letter-spacing: 1px;
        text-align: justify;

        @media screen and (max-width: 768px) {
          font-size: 0.9rem;
        }
      }

      .project_links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        a {
          text-decoration: none;
          color: #fff;
          font-weight: 500;
          border-radius: 5px;
          transition: all 0.3s ease-in-out;
          .arrow {
            transition: all 0.3s ease-in-out;
            vertical-align: middle;
          }
          &:hover {
            .arrow {
              transform: translateY(-5px);
              color: var(--Soft-Red);
            }
          }
        }
      }
    }
  }
}
