.social_container {
  h2 {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .socials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.3rem;
    .social {
      display: flex;
      align-items: center;
      gap: 1rem;

      span {
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 1px;
        //   color: var(--Medium-Grey);
      }

      a {
        color: var(--Medium-Grey);
        transition: all 350ms linear;
        text-decoration: underline;
        &:hover {
          .arrow {
            transform: scale(1.2);
            color: var(--Soft-Red);
          }
        }
      }

      .social_icons {
        font-size: 1.1rem;
      }
    }
  }
}
