.updates_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #8d8daa;
  max-width: max-content;
  margin: 4rem auto 4rem auto;
  padding: 12px 10px;
  box-shadow: 5px 8px 0px var(--Soft-Red);
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  &:hover {
    box-shadow: 3px 5px 0px var(--Soft-Red);
  }
  p {
    font-size: 0.97rem;
    font-weight: 800;
    line-height: 30px;
    text-align: justify;

    a {
      color: black;
      text-decoration: underline;
      &:hover {
        .arrow {
          transform: scale(1.25);
          color: var(--Soft-Red);
        }
      }
      .arrow {
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
