@import "tailwindcss";

:root {
  --primary: #ebebeb;
  --foreground: #171717;
  --font-header: "Geist", sans-serif;
  --font-body: "Inter",
    sans-serif;
  --font-title: "Fleur De Leah",
    cursive;

  --font-sans: "DM Sans",
    sans-serif;
}

body {
  font-family: var(--font-primary);
  color: var(--foreground);
  background-color: var(--primary);
}

.title {
  font-family: var(--font-title);
}

.header {
  font-family: var(--font-header);
}

.body {
  font-family: var(--font-body);
}

.sans {
  font-family: var(--font-sans);
}