@use "../../styles/foundation/basics" as basics;
@use "../../styles/foundation/templates" as templates;

.about_section {
  @include templates.flex(
    $justify: space-around,
    $align: center,
    $gap: 5px,
    $direction: row,
    $wrap: nowrap
  );
  min-height: 50vh;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
  .section_header {
    h2 {
      @include templates.highlightedText(
        $font-size: 2rem,
        $weight: 800,
        $color: basics.$text-color,
        $small-font: 1.5rem,
        $height: 15px,
        $bg-color: basics.$secondary-color
      );
    }

    p {
      font-size: 0.9rem;
      font-weight: 400;
      color: basics.$light-color;
      margin-top: 10px;
      word-wrap: normal;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: basics.$text-color;
      }
    }
  }

  .details {
    max-width: 500px;
    width: 100%;

    @media screen and (max-width: 768px) {
      margin: auto;
    }
    p {
      font-size: 0.92rem;
      font-weight: 500;
      color: basics.$light-color;
      line-height: 25px;
      margin-bottom: 10px;
      word-wrap: normal;
      transition: all 0.3s ease-in-out;
      text-align: justify;

      &:hover {
        color: basics.$text-color;
      }
    }
  }
}
