@use "../../styles/foundation/basics" as basics;
@use "../../styles/foundation/templates" as template;

.description {
  @include template.flex(
    $justify: flex-start,
    $align: flex-start,
    $gap: 10px,
    $direction: column,
    // $wrap: wrap
  );
  h4 {
    margin-top: 10px;
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
    font-weight: 500;
    color: basics.$light-color;
    line-height: 25px;
    text-align: justify;
  }
}
