@use "../../styles/foundation/basics" as basics;
@use "../../styles/foundation/templates" as template;
.overlay {
  @include template.overlay();
  .company-portal {
    @include template.portal();
    @include template.flex(
      $justify: flex-start,
      $align: flex-start,
      $direction: column
    );
    padding: 10px;

    animation: slideIn 0.5s ease-in-out;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0.1px;
    }
    .controls {
      text-decoration: underline;
      p {
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        display: flex;
        align-items: center;
        .icon {
          font-size: 2rem;
          vertical-align: middle;
        }
      }
    }
    .company-portal-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      gap: 10px;
      flex-direction: column;

      h2 {
        @include template.highlightedText(
          $font-size: 2rem,
          $weight: 800,
          $small-font: 1.5rem,
          $height: 15px
        );
      }
      p {
        font-size: 1rem;
        font-weight: 500;
        color: basics.$light-color;
        display: flex;
        align-items: center;
        gap: 5px;
        @media screen and (max-width: 768px) {
          font-size: 1rem;
        }

        .icon {
          vertical-align: middle;
        }
      }
    }

    .learnings {
      h3 {
        font-size: 1.5rem;
        font-weight: 800;
        color: basics.$text-color;
      }
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
