@use "../../styles/foundation/basics" as basics;
@use "../../styles/foundation/templates" as templates;

.hero_section {
  @include templates.flex(
    $justify: space-around,
    $align: center,
    $gap: 1rem,
    $direction: row,
    $wrap: nowrap
  );
  min-height: 70vh;
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }

  max-width: 1000px;
  margin: auto;
  width: 100%;

  animation: popFadeIn 1s ease-in-out forwards;

  .hero_section_details {
    max-width: 500px;
    width: 100%;

    @media screen and (max-width: 768px) {
      margin: auto;
    }

    .small_details {
      @include templates.flex(
        $justify: flex-start,
        $align: center,
        $gap: 1rem,
        $direction: row,
        $wrap: nowrap
      );
      margin-top: 10px;
      p {
        font-size: 1rem;
        font-weight: 400;
        color: basics.$text-color;
      }
      .icon {
        vertical-align: middle;
      }
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 800;
      color: basics.$light-color;
      @media screen and (max-width: 768px) {
        font-size: 1.2rem;
      }
    }

    h2 {
      font-size: 3rem;
      font-weight: 800;
      color: basics.$text-color;

      @media screen and (max-width: 768px) {
        font-size: 2.5rem;
      }

      @media screen and (max-width: 480px) {
        font-size: 2rem;
      }
      span {
        position: relative;
        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 25px;
          z-index: -1;
          background-color: basics.$secondary-color;
        }

        @media screen and (max-width: 768px) {
          &::after {
            height: 20px;
          }
        }
      }
    }

    .hobbies {
      @include templates.flex(
        $justify: flex-start,
        $align: center,
        $gap: 1rem,
        $direction: row,
        $wrap: nowrap
      );
      margin-top: 10px;
      p {
        font-size: 1rem;
        font-weight: 400;
        color: basics.$text-color;
      }
    }

    .opportunities {
      margin-top: 10px;
      p {
        font-size: 1rem;
        font-weight: 400;
        color: basics.$text-color;
        border: 1px dashed basics.$light-color;
        max-width: max-content;
        padding: 5px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

        @media screen and (max-width: 768px) {
          line-height: 25px;
        }
      }
    }

    .controls {
      @include templates.flex(
        $justify: flex-start,
        $align: center,
        $gap: 1rem,
        $direction: row,
        $wrap: nowrap
      );
      margin-top: 10px;

      .resume {
        @include templates.button(
          $bg-color: transparent,
          $text-color: basics.$text-color,
          $padding: 0.5rem 1rem,
          $border-radius: 10px,
          $font-size: 1rem,
          $font-weight: 500,
          $cursor: pointer,
          $shadow: none
        );
        border: 1px solid #333;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

        &:hover {
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
        }
      }

      .talk {
        @include templates.button(
          $bg-color: basics.$secondary-color,
          $text-color: basics.$text-color,
          $padding: 0.5rem 1rem,
          $border-radius: 10px,
          $font-size: 1rem,
          $font-weight: 500,
          $cursor: pointer
        );
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        &:hover {
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
        }
      }
    }
  }

  .hero_section_image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s ease-in-out;

      &:hover {
        filter: grayscale(100%);
      }
    }
  }
}

@keyframes popFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
