@use "../../styles/foundation/basics" as basics;
@use "../../styles/foundation/templates" as templates;

.projects_section {
  @include templates.flex(
    $justify: center,
    $align: flex-start,
    $gap: 1rem,
    $direction: column,
    $wrap: nowrap
  );
  min-height: 70vh;
  width: 100%;
  max-width: 1000px;
  margin: auto;

  .project_header {
    .header_top {
      @include templates.flex(
        $justify: flex-start,
        $align: center,
        $gap: 1rem,
        $direction: row,
        $wrap: nowrap
      );
      h2 {
        @include templates.highlightedText(
          $font-size: 2rem,
          $weight: 800,
          $small-font: 1.5rem,
          $height: 15px
        );
        max-width: max-content;
      }
    }

    p {
      font-size: 1.02rem;
      font-weight: 500;
      color: basics.$light-color;
      margin-top: 10px;
      word-wrap: normal;
      transition: all 0.3s ease-in-out;
      line-height: 25px;
    }
  }

  .projects {
    @include templates.flex(
      $justify: flex-start,
      $align: stretch,
      $gap: 1rem,
      $direction: column,
      $wrap: wrap
    );

    .featured-projects {
      @include templates.flex(
        $justify: flex-start,
        $align: flex-start,
        $gap: 1rem,
        $direction: column
      );

      .featured-projects-top {
        @include templates.flex(
          $justify: center,
          $align: center,
          $gap: 1rem,
          $direction: row
        );
        h2 {
          @include templates.highlightedText(
            $font-size: 2rem,
            $weight: 800,
            $height: 12px
          );
          max-width: max-content;
        }
        a {
          color: basics.$text-color;

          .link-icon {
            vertical-align: middle;
          }
        }
      }

      p {
        font-size: 1rem;
        font-weight: 500;
        color: basics.$light-color;
        transition: all 0.3s ease-in-out;
        line-height: 25px;
        text-align: justify;
      }
    }

    .project {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      padding: 10px;
      border-radius: 10px 10px / 100px;
      transition: all 0.3s ease-in-out;
      @include templates.flex(
        $justify: space-around,
        $align: center,
        $gap: 1rem,
        $direction: row
      );

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      .left {
        flex: 2;
        img {
          max-width: 350px;
          width: 100%;
          height: auto;
          object-fit: cover;
          aspect-ratio: 16/9;
          object-position: center;
        }
      }

      .right {
        flex: 3;
        transition: all 0.3s ease-in-out;
        span {
          font-size: 1.3rem;
          .icon {
            vertical-align: middle;
          }
        }
        h2 {
          @include templates.highlightedText(
            $font-size: 1.5rem,
            $weight: 800,
            $height: 12px
          );
          max-width: max-content;
          margin-bottom: 10px;
        }

        p {
          font-size: 0.95rem;
          font-weight: 500;
          color: basics.$light-color;
          transition: all 0.3s ease-in-out;
          line-height: 25px;
          text-align: justify;
        }

        .control {
          margin-top: 10px;
          @include templates.flex(
            $justify: flex-start,
            $align: center,
            $gap: 1rem,
            $direction: row
          );
          .read_more_btn {
            @include templates.button(
              $bg-color: transparent,
              $text-color: basics.$text-color,
              $border: 1px solid basics.$light-color,
              $shadow: 0 0 2px rgba(0, 0, 0, 0.5),
              $padding: 5px,
              $border-radius: 7px,
              $font-size: 0.9rem
            );
          }
          a {
            @include templates.button(
              $bg-color: transparent,
              $text-color: basics.$text-color,
              $border: 1px solid basics.$light-color,
              $shadow: 0 0 2px rgba(0, 0, 0, 0.5),
              $padding: 5px,
              $border-radius: 7px,
              $font-size: 0.9rem,
              $font-weight: 500,
              $cursor: pointer
            );
            color: basics.$text-color;

            &:hover {
              transform: rotate(360deg);
            }

            .icon {
              vertical-align: middle;
              // font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}
