@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

body {
  background: #1c1c1c;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.shadow {
  box-shadow: 0px 8px 16px 0px rgba(23, 23, 23, 0.1),
  0px 1px 1px 0px rgba(23, 23, 23, 0.1),
  inset 0px -1px 1px 0px rgba(204, 204, 204, .04),
  rgb(66, 66, 66)
  /* {"name":"Button / Inner Shadow"} */
  ,
  0px 0px 0px 0.1px rgba(0, 0, 0, .16),
  rgba(0, 0, 0, 0.1);
}

.light-color {
  color: #616367;
}

.card-color {
  background-color: #202021;
}